body {
  background-color: black;
  color: white;
}

/*---------------NAV-------------------*/
nav {
  height: 100%;
  position: fixed;
  background-color: #222;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 120px;
  line-height: 18px;
  font-size: 12px;
  padding: 12px 24px;
  color: white;
  text-align: center;
  text-decoration: none;
}
/*----------------HEADER-----------------*/
.title_heading {
  font-size: 64px;
  display: block;
  line-height: 96px;
  margin: 10px 0;
  text-align: center;
}

header p {
  display: block;
  line-height: 22.5px;
  text-align: center;
  font-size: 15px;
}

header img {
  max-width: 100%;
  height: auto;
  margin-bottom: -5px;
}

/*-------------------MAIN------------------*/

main h2 {
  display: block;
  font-size: 30px;
  line-height: 45px;
  margin: 0 10px;
}

.paul_skills {
  display: block;
  font-size: 15px;
  letter-spacing: 4px;
  line-height: 22.5px;
  text-align: justify;
  margin: 15px 0;
}

.about_info {
  display: block;
  font-size: 15px;
  line-height: 22.5px;
  color: #757575;
  margin: 10px 0;
}


.bar_white {
  height: 28px;
  display: block;
  background-color: white;
  line-height: 22.5px;
}


.bar_grey {
  background-color: #616161;
  height: 28px;
  width: 95%;
}

.projects {
  background-color: #f1f1f1;
  color: black;
  display: block;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  margin: 16px 0;
  padding: 16px 0;
}

.projects p {
  font-size: 15px;
  line-height: 22.5px;
}

#about i {
  font-size: 15px;
  line-height: 15px;
  margin-right: 5px;
  color: black;
}

span {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

button {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  font-size: 15px;
  line-height: 22.5px;
  margin: 16px 0;
  text-align: center;
  padding: 12px 24px;
  vertical-align: middle;
  border: none;
}

.container {
  font-size: 15px;
  margin-left: 120px;
  display: block;
  line-height: 22.5px;
  padding-left: 120px;
  margin: auto;
  max-width: 940px;
}

/*----------------Portfolio------------*/

h3 {
  display: block;
  font-size: 30px;
  line-height: 36px;
  margin: 10px 0;
  padding: 16px 0;

}

/*-----------------Contact------------------*/
#contact {
  display: block;
  color: #757575!important;
}

h4 {
  display: block;
  font-size: 30px;
  line-height: 45px;
  margin: 10px 0;
  color: white;
}

.info_contact {
  font-size: 15px;
  display: block;
  font-size: 15px;
  line-height: 22.5px;
  margin: 16px 0;
}

.info_contact p  {
  font-size: 15px;
  margin: 15px 0;
  font-size: 15px;
  line-height: 22.5px;
}

.info_contact i {
  font-size: 36px;
  margin-right: 16px;
  color: white;
  text-align: center;
}

form i {
  font-size: 15px;
  line-height: 15px;
  margin-right: 5px;
  color: black;
}

input {
  font-size: 15px;
  padding: 16px 8px;
  width: 100%;
  display: block;
  margin: 16px 0;
}

/*----------------Footer--------------*/

footer {
  display: block;
  font-size: 24px;
  line-height: 36px;
  padding: 64px 0;
}

i {
  line-height: 24px;
  display: inline-block;
  color: #757575;
}
